<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-pages"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container ml-5">
                        <h1 class="text-black text-center">Information about our service.</h1>
                        <hr class="bg-dark hr-2"/>
                        <p class="text-black text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores
                            doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                            ipsam ipsum libero placeat praesentium sequi vero, voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>