<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login d-flex align-items-center py-5">
                    <div class="container ml-2">
                        <h1 class="text-black text-center">Контакти</h1>
                        <hr class="bg-dark hr-2"/>
                        <p class="text-black text-center">
                            Автосервиз Tim Auto

                            София 1618, кв. Павлово, ул. "Преки път" № 64-68
                            <br>
                        <hr>

                            (Срещу наклонената сграда на Околовръстен път, преди бул. Цар Борис III)
                            <br>
                        <hr>

                            Раб. време:
                            <br>
                        <hr>
                        08:00-19:30ч.
                        <br>
                        <hr>
                        Телефони:
                        <br>
                        <hr>
                        02/ 000 00 000,
                        <br>
                        02/ 000 00 00
                        <br>
                        <hr>
                        Емейл:
                        <br>
                        <hr>
                        service@emk-service.com</p>
                    </div>

                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=ulitsa%20%22Akademik%20Stefan%20Mladenov%22%202%2C%201700%20Studentski%20Kompleks%2C%20Sofia%2C%20Bulgaria&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a></div>
                        <style>.mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 600px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 600px;
                        }</style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>