<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main>
        <div class="jumbotron big-banner" style="height: 500px; padding-top: 150px">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-md-12">
                        <div class="col-md-8">
                            <h1 class="display-4 text-white-50 text-sm-left ">Welcome to DV Service App.</h1>
                        </div>

                        <h3 class="text-black mt-5 text-white-50"><a class="text-white"
                                                                  th:href="@{/users/login}">Login</a> if you have an
                            account.</h3>
                        <h3 class="text-black mt-4 text-white-50"><a class="text-white" th:href="@{/users/register}">Register</a>
                            if you
                            don't.</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="jumbotron bg-light">
            <h1 class="display-4">Wellcome to DV Service App Beta Version</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae delectus in quae qui
                sunt unde! Id iste itaque magni officiis quam reprehenderit rerum, velit voluptate voluptatem? Cumque,
                hic, voluptatem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae delectus in
                quae qui
                sunt unde! Id iste itaque magni officiis quam reprehenderit rerum, velit voluptate voluptatem? Cumque,
                hic, voluptatem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae delectus in
                quae qui
                sunt unde! Id iste itaque magni officiis quam reprehenderit rerum, velit voluptate voluptatem? Cumque,
                hic, voluptatem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae delectus in
                quae qui
                sunt unde! Id iste itaque magni officiis quam reprehenderit rerum, velit voluptate voluptatem? Cumque,
                hic, voluptatem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae delectus in
                quae qui
                sunt unde! Id iste itaque magni officiis quam reprehenderit rerum, velit voluptate voluptatem? Cumque,
                hic, voluptatem.lorem</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead mt-3">
                <a class="btn btn btn-dark btn-lg" th:href="@{/about}" role="button">Learn more</a>
            </p>
        </div>

    </main>

</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>