<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-pages"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login d-flex align-items-center py-5">
                    <div class="container ml-5">
                        <div class="jumbotron  border border-dark bg-transparent">
                            <!--<form class=" mx-auto w-50 " th:method="post" th:action="@{/users/login}>-->
                            <form class="mx-auto w-50" th:method="post" th:action="@{/users/login}">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password" name="password"
                                           placeholder="Password">
                                </div>
                                <hr class="bg-hero hr-2"/>
                                <div class="button-holder mt-3 d-flex justify-content-center">
                                    <button type="submit" class="btn bg-hero glow-button">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<div class="row no-gutter">-->
    <!--<div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>-->
    <!--<div class="col-md-8 col-lg-6">-->
    <!--<div class="login d-flex align-items-center py-5">-->
    <!--<div class="container ml-5">-->
    <!--<div class="jumbotron">-->
    <!--<form>-->
    <!--<div class="form-group">-->
    <!--<label for="username">Username</label>-->
    <!--<input type="text" class="form-control" id="username" name="username" placeholder="Username">-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="password">Password</label>-->
    <!--<input type="text" class="form-control" id="password" name="password" placeholder="Password">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</main>

<!--<main class="mt-5">-->
<!--<div class="bg-image ">-->
<!--<div class="container-fluid mb-2">-->
<!--<hr class="bg-hero hr-2"/>-->
<!--<h1 class="text-center text-white">Login</h1>-->
<!--<form class="   mx-auto w-25" th:method="post" th:action="@{/users/login}">-->
<!--<div class="form-group">-->
<!--<label for="username" class="text-black mb-1">Username</label>-->
<!--<input type="text" class="form-control" id="username" placeholder="Username..." name="username">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password" class="text-black mb-1">Password</label>-->
<!--<input type="password" class="form-control" id="password" placeholder="Password..." name="password">-->
<!--</div>-->
<!--<hr class="bg-hero hr-2"/>-->
<!--<div class="button-holder mt-3 d-flex justify-content-center">-->
<!--<button type="submit" class="btn bg-hero glow-button">Login</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</main>-->
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>