<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login d-flex align-items-center py-5">
                    <div class="container ml-5">
                        <div class="jumbotron  border border-dark bg-transparent">

                            <form class="mx-auto w-50" th:method="post" th:action="@{/users/register}"
                                  th:object="${model}">
                                <div class="form-group">
                                    <label for="username" class="text-black mb-1">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username..."
                                           name="username" th:value="*{username}">
                                    <th:block th:if="${#fields.hasErrors('username')}">
                                        <small style="color: red" th:errors="*{username}"></small>
                                    </th:block>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-black mb-1">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password..."
                                           name="password" th:value="*{password}">
                                    <th:block th:if="${#fields.hasErrors('password')}">
                                        <small style="color: red" th:errors="*{password}"></small>
                                    </th:block>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword" class="text-black mb-1">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                           placeholder="Confirm Password..."
                                           name="confirmPassword" th:value="*{confirmPassword}">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-black mb-1">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email..."
                                           name="email" th:value="*{email}">
                                    <th:block th:if="${#fields.hasErrors('email')}">
                                        <small style="color: red" th:errors="*{email}"></small>
                                    </th:block>
                                </div>
                                <hr class="bg-hero hr-2"/>
                                <div class="button-holder mt-3 d-flex justify-content-center">
                                    <button type="submit" class="btn bg-hero glow-button">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<main class="mt-5">-->
    <!--<div class="bg-image ">-->
    <!--<div class="container-fluid mb-2">-->
    <!--<hr class="bg-hero hr-2"/>-->
    <!--<h1 class="text-center text-white">Register</h1>-->
    <!--<form class="mx-auto w-25" th:method="post" th:action="@{/users/register}">-->
    <!--<div class="form-group">-->
    <!--<label for="username" class="text-white mb-1">Username</label>-->
    <!--<input type="text" class="form-control" id="username" placeholder="Username..." name="username">-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="password" class="text-white mb-1">Password</label>-->
    <!--<input type="password" class="form-control" id="password" placeholder="Password..." name="password">-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="confirmPassword" class="text-white mb-1">Confirm Password</label>-->
    <!--<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password..."-->
    <!--name="confirmPassword">-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="email" class="text-white mb-1">Email</label>-->
    <!--<input type="email" class="form-control" id="email" placeholder="Email..." name="email">-->
    <!--</div>-->
    <!--<hr class="bg-hero hr-2"/>-->
    <!--<div class="button-holder mt-3 d-flex justify-content-center">-->
    <!--<button type="submit" class="btn bg-hero glow-button">Register</button>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</main>-->
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>