<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-hero fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">Tim Auto</a>

                <div class="collapse navbar-collapse" id="guestNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " th:href="@{/users/login}">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " th:href="@{/users/register}">Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " th:href="@{/contacts}">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-hero fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}">Tim Auto</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="userNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item active">
                                <div class="dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuButton"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="nav-link text-dark" th:href="@{/users/all}">All Users</a>
                                        <a class="nav-link text-dark" th:href="@{/categories/add}">Add Category</a>
                                        <a class="nav-link text-dark" th:href="@{/categories/all}">All Categories</a>
                                        <a class="nav-link text-dark" th:href="@{/cars/add}">Add Car</a>
                                        <a class="nav-link text-dark" th:href="@{/cars/all}">All Cars</a>
                                        <a class="nav-link text-dark" th:href="@{/models/add}">Add Car Model</a>
                                        <a class="nav-link text-dark" th:href="@{/models/all}">All Car Models</a>
                                        <a class="nav-link text-dark" th:href="@{/parts/add}">Add Parts</a>
                                        <a class="nav-link text-dark" th:href="@{/parts/all}">All Parts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <div class="dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" role="button"
                                       id="ordersMenu"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Orders
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="nav-link text-dark " th:href="@{/orders/all}">New orders</a>
                                        <a class="nav-link text-dark" th:href="@{/orders/confirmed}">Confirmed orders</a>
                                        <a class="nav-link text-dark" th:href="@{/orders/finished}">Finished orders</a>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cart
                                </a>
                                <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                    <!--<th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">-->
                                    <!--<div class="dropdown-item" th:text="|*{product.product.name} x *{quantity}|"></div>-->
                                    <!--</th:block>-->
                                    <th:block th:each="item: ${#session.getAttribute('shopping-cart')}" th:object="${item}">
                                        <div class="dropdown-item" th:text="|*{part.name} x *{quantity}|"></div>
                                    </th:block>
                                    <div class="dropdown-divider"></div>
                                    <div class="text-center">
                                        <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/orders/myorders}">My Orders</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/users/profile}">Profile</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " th:href="@{/contacts}">Contacts</a>
                        </li>

                        <li class="nav-item active">
                            <form action="/logout" method="post">
                                <a class="nav-link nav-item active" th:href="@{/logout}">Logout</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
</th:block>