<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-pages"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login  align-items-center py-5">
                    <h1 class="text-center text-dark mt-4">Edit Part</h1>
                    <hr class="hr-2 bg-dark w-25">
                    <form class="form w-25 mx-auto" th:action="@{/models/edit/{id}(id=${modelId})}" th:method="post">
                        <div class="form-group">
                            <label for="carModel" class="font-weight-bold">Name</label>
                            <input type="text" th:value="${model.model}" class="form-control" name="model" id="carModel">
                            <label for="horsePower" class="font-weight-bold">Horse Power</label>
                            <input type="text" th:value="${model.horsePower}" class="form-control" name="horsePower" id="horsePower">

                            <div class="form-group">
                                <label for="add-car" class="font-weight-bold">Select car</label>
                                <select  class="form-control" id="add-car" name="brand">
                                    <th:block th:each="model:${model.brand}">
                                        <option  th:text="${model}">}</option>
                                    </th:block>
                                </select>
                            </div>

                        <hr class="hr-2 bg-dark">
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>