    <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class=" col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login d-flex align-items-center ">
                    <div class="container ml-8">

                        <div class="jumbotron text-center pt-4">

                            <table class="table table-hover w-75 mx-auto">
                                <h1 class="text-center text-monospace">All Users</h1>
                                <hr class="hr-2 bg-dark w-75">
                                <tr>
                                    <th class=" text-monospace"></th>
                                    <th class="text-monospace">Username</th>
                                    <th class=" text-monospace">Email</th>
                                    <th class=" text-monospace">Roles</th>
                                    <th class=" text-monospace">Actions</th>
                                </tr>
                                <th:block th:each="user,iter: ${model}">
                                <tr>
                                    <td th:text="${iter.index+1}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${#strings.replace(#strings.listJoin(user.authorities,', '),'ROLE_','')}"></td>
                                    <td>
                                        <th:block th:if="${#lists.contains(user.getAuthorities(),'ROLE_USER')
                                        && !#lists.contains(user.getAuthorities(),'ROLE_ADMIN')}">
                                            <form th:action="@{/users/set-admin/{id}(id=${user.getId()})}" th:method="post">
                                                <button class="btn btn-dark btn-width">ADMIN</button>
                                            </form>
                                        </th:block>
                                        <th:block th:if="${#lists.contains(user.getAuthorities(),'ROLE_ADMIN') &&
                                        !#lists.contains(user.getAuthorities(),'ROLE_ROOT')}">
                                            <form th:action="@{/users/set-user/{id}(id=${user.getId()})}" th:method="post">
                                                <button class="btn btn-dark btn-width">USER</button>
                                            </form>
                                        </th:block>
                                    </td>
                                </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>