<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-8">

                <div class="login d-flex align-items-center py-5 ml-2">
                    <div class="container mt-5">
                        <div class="jumbotron">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor est et impedit
                                nesciunt saepe totam.
                                Eligendi, enim inventore laboriosam laudantium minus mollitia necessitatibus nulla odio
                                perferendis quis sed ut.</p>
                        </div>
                        <div class="jumbotron">
                            <form class="mx-auto w-50" th:method="post" th:action="@{/cart/order}">
                                <div class="form-group">
                                    <label for="personName" class="text-black mb-1">Your name</label>
                                    <input type="text" class="form-control" id="personName" placeholder="Enter your name..."
                                           name="personName">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber" class="text-black mb-1">Phone number</label>
                                    <input type="number" class="form-control" id="phoneNumber"
                                           placeholder="Phone number..." name="phoneNumber">
                                </div>
                                <div class="form-group">
                                    <label for="description" class="text-black mb-1">Additional description</label>
                                    <textarea rows="5" class="form-control" id="description"
                                              placeholder="If you want to tell additional information about your problem" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="text-black mb-1">Choose date</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <div class="button-holder mt-3 d-flex justify-content-center">
                                    <button type="submit" class="btn bg-hero glow-button">Order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>