:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://wallpapercave.com/wp/iHdYSYU.jpg');
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.bg-image-home {
    background-image: url('https://wallpapercave.com/wp/wp3726561.jpg');
    background-size: cover;
    background-position: center;
}

.big-banner {
    background-image: url('https://wallpapercave.com/wp/wp3667597.jpg');
    background-size: cover;
    background-position: center;
}

.big-banner1 {
    background-image: url('https://cdn.hipwallpaper.com/i/61/18/lvJc6B.jpg');
    background-size: cover;
    background-position: center;
}

.small-banner {
    background-image: url('https://wallpapercave.com/wp/wp1861758.jpg');
    background-size: cover;
    background-position: center;
}



.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}




