.bg-hero {
    background: #111112;
    color: white;
}

.bg-hero1 {
    background: #48535e;
    color: white;
}
.bg-hero2 {
    color: 	#F0F8FF;
}



.text-hero {
    color: white;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.home-doc{
    width: 18%;
    margin: auto;
}
