.bg-hero {
    background: #111112;
    color: white;
}

.bg-hero1 {
    background: #48535e;
    color: white;
}
.bg-hero2 {
    color: 	#F0F8FF;
}



.text-hero {
    color: white;
}

.hr-2 {
    height: 2px;
}


.home-doc{
    width: 18%;
    margin: auto;
}


.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://wallpapercave.com/wp/iHdYSYU.jpg');
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.bg-image-pages {
    background-image: url('https://wallpapercave.com/wp/wp3726561.jpg');
    background-size: cover;
    background-position: center;
}

.big-bannerhome{
    background-image: url('https://cdn.hipwallpaper.com/i/61/18/lvJc6B.jpg');
    background-size: cover;
    background-position: center;
}


.small-banner {
    background-image: url('https://wallpapercave.com/wp/wp1861758.jpg');
    background-size: cover;
    background-position: center;
}


.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
