<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container ml-5">
                        <div class="jumbotron">
                            <h1 class="text-center text-dark">Add Parts</h1>
                            <form id="add-product-form" class="form w-35 mx-auto" th:action="@{/parts/add}" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="add-product-name" class="font-weight-bold">Name</label>
                                    <input type="text" class="form-control text-center" id="add-product-name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="add-product-description" class="font-weight-bold">Description</label>
                                    <textarea name="description" id="add-product-description" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="add-product-price" class="font-weight-bold">Price</label>
                                    <input type="number" step="any" class="form-control text-center" id="add-product-price" name="price">
                                </div>
                                <div class="form-group">
                                    <label for="add-product-categories" class="font-weight-bold">Categories</label>
                                    <select multiple="multiple" class="form-control" id="add-product-categories" name="categories">
                                        <option selected="" disabled="">--- Select Categories ---</option>
                                        <!--<th:block th:each="category, iter: ${model}">-->
                                            <!--<option th:value="${category.id}" th:text="${category.name}">}</option>-->
                                        <!--</th:block>-->
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="add-product-models" class="font-weight-bold">Models</label>
                                    <select multiple="multiple" class="form-control" id="add-product-models" name="carModels">
                                        <option selected="" disabled="">--- Select Models ---</option>
                                        <!--<th:block th:each="category, iter: ${model}">-->
                                        <!--<option th:value="${category.id}" th:text="${category.name}">}</option>-->
                                        <!--</th:block>-->
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="add-product-image" class="font-weight-bold">Image</label>
                                    <input type="file" class="form-control-file" id="add-product-image" name="image">
                                </div>
                                <hr class="hr-2 bg-dark w-25">
                                <div class="button-holder d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Add Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
<script>
    fetch('/categories/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((category) => $('#add-product-categories').append(`<option value="${category.id}">${category.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>
<script>
    fetch('/models/fetch')
        .then((response) => response.json())
        .then((json) => {
            json.forEach((carmodel) => $('#add-product-models').append(`<option value="${carmodel.id}">${carmodel.model}</option>`));
        })
        .catch((err) => console.log(err));
</script>
</html>