<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-home"></div>
            <div class="col-md-8 col-lg-8">
                <div class="login  align-items-center py-5">
                    <div class="container  text-center mb-lg-5">
                        <img th:src="${model.imageUrl}" width="350" height="350" alt="Part">
                    </div>

                    <div class="col text-center mt-4 mb-2">
                        <h1 th:text="${'Name: '+ model.name}"></h1>
                    </div>

                    <div class="col  text-center mt-4 mb-2">
                        <h4 th:text="${'Description: '+ model.description}"></h4>
                    </div>

                    <div class="col  text-center mt-4 mb-2">
                        <h4 th:text="${'Price: '+ model.price}+'$'"></h4>
                    </div>
                    <div class="col  text-center mt-4 mb-2">
                        <h4 th:text="${'Work Price: '+ model.workPrice}+'$'"></h4>
                    </div>
                    <hr class="hr-2 bg-dark">

                    <!--<div class="button-holder d-flex justify-content-center">-->
                        <!--<a th:href="@{/parts/edit/{id}(id=${model.id})}" class="btn btn-dark">Edit Part</a>-->
                    <!--</div>-->
                    <!--<div class="button-holder d-flex justify-content-center mt-3">-->
                        <!--<a th:href="@{/parts/delete/{id}(id=${model.id})}" class="btn btn-dark">Delete Part</a>-->
                    <!--</div>-->

                    <div class="button-holder d-flex justify-content-center mt-3">
                        <form class="form w-25 mx-auto" th:action="@{/cart/add-part}" th:method="post">
                            <div class="form-group mx-auto">
                                <label for="quantity" class="font-weight-bold col  text-center mt-4 mb-2">Quantity</label>
                                <input id="quantity" class="form-control text-center" type="number" min="1" max="10" step="1" name="quantity" value="1" />
                            </div>
                            <input type="hidden" name="id" th:value="${model.id}">
                            <button type="submit" class="btn btn-success col  text-center mt-4 mb-2">Add to cart</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</footer>
</body>
</html>